<!DOCTYPE html>
<html>
<head lang="en">
    <title>你好</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <style type="text/css" mce_bogus="1">
        body {
            font-family: SimSun;
        }
    </style>
</head>
<body>
Welcome $name to poorren.com!
today is $date.
<p>你好</p>

<p>你好</p>

<p style="font-size: 24px;">你好</p>

<p>你好</p>

<p>你好</p>

<p style="font-size: 8px">你好</p>

<p>jimi</p>

<p>www.jimi.com</p>
<img src="http://www.jimi.com/image1/M00/38/2F/Cgo8PFWk2HiARFFyAABwNRabTLc635.png" width="113" height="113"
     alt="橙光游戏"/>

<p>222222<span style="color: red">sdddd</span>222222</p>
<!--测试自动换行-->
<p>你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好</p>
<table style="border: solid 1px green">
    <thead>
    <tr>
        <td>名称</td>
        <td>类别</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>jimi1</td>
        <td>cat1</td>
    </tr>
    <tr>
        <td>jimi2</td>
        <td>cat2</td>
    </tr>
    </tbody>
</table>
<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

<p>你好</p>

</body>
</html>
